footer {
	margin-top: 25px;
	background: #1f1f1f;
  color: lighten(white, 10%);
  border-top: 10px solid #100f10;

	.grid-layout > div {
		padding: 25px 0 !important;
	}

	.head {
		font-size: 1.3em;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 20px;
	}

	.cont {
		text-align: center;
	}

	.cont-info{
		text-align: center;
		.logo {
			max-width: 50%;
			margin: 0 auto 35px auto;

			img{
				max-width: 100%;
			}
		}
		.address {
			font-size: 0.85em;
			color: darken(white, 35%);
		}
		.phone {
			color: darken(white, 25%);
			font-size: 1.2em;
			font-weight: bold;
			margin-top: 20px;
		}
	}

	.menu{
		li {
			padding: 0;
			line-height: 0.9;
			display: inline-block;
			*display: inline;
			zoom:1;
			vertical-align: middle;
			border-right: 1px solid  darken(white, 35%);
		}

		li:last-child{
			border-right: none;
		}

		li a {
			color: darken(white, 45%);
			text-transform: uppercase;
			text-decoration: none;
			font-size: 0.75em;
			font-weight: 300;
			padding: 5px 15px;

			&:hover {
				color: $color-pr;
			}
		}
	}

	.footer-opens{
		margin-top: 65px;

		.title{
			font-size: 0.8em;
			margin-bottom: 5px;
			color: #656565;
		}
		.opens-table {
			width: 75%;
			line-height: 1.8;
			margin: 0 auto;
			font-size: 1.2em;
		}

		.day {
			text-align: left;
		}
		.op {
			text-align: right;
		}
	}

	.fb-page-title {
		text-align: center;
		margin-bottom: 15px;
		font-size: 0.9em;
		color: #0e7ed0;
	}

	.copyright {
		background: $color-pr;
		text-align: center;
		font-size: 0.8em;
		padding: 15px 0;
	}
}
