header {
	color: white;
	font-weight: 400;

	.topper{
		padding: 10px 0 40px 0;
	}

	a, a:visited {
		color: white;
	}

	.logo {
		width: 100%;
		max-width: 100%;
		img {
			width: 100%;
			max-width: 100%;
		}

		position: relative;;
	}

	.main-elements{
		.header-top-center{
			padding-left: 25px;
		}
	}
}

.short-menu {
	li {
		display: -moz-inline-stack;
		display: inline-block;
		*display: inline;
		zoom: 1;
		line-height: 36px;
		margin-left: 10px;

		a {
			padding: 0 5px;
	    font-size: 0.90em;
	    line-height: 34px;
			display: block;
			color: black;
			line-height: 1;
			text-decoration: none;
		}

		&.reg {
			a{

			}
		}
		&.login {
			a{
				padding: 10px 20px;
				color: white;
				background: $color-pr;
				@include border-radius(5px);
			}
		}
	}
}

.searchform {
	input[type=text] {
		background: #fff;
		border: 2px solid $color-sec;
		width: 85%;
		color: $color-pr;

		@include border-radius-left(5px);
	}

	input[type=text],
	button {
		line-height: 30px;
		padding: 0 14px;
	}

	button {
		background: darken( $color-sec, 10% );
		color: white;
		border: 2px solid  $color-sec;
		border-left: none;
		padding: 0 8px;
		vertical-align: middle;
		cursor: pointer;

		@include border-radius-right(5px);
	}
}

.general-sidebar {
	width: 20%;
	float: left;
	display: table-cell;
	vertical-align: top;

	.menu {
		li.menu-item {
			display: table;
			width: 100%;
			margin: 0 -1px -1px 0;
			border: 1px solid lighten( $color-sec, 1% );
			background: lighten( $color-sec, 9%);

			a {
				display: table-cell;
				font-size: 1.1em;
				line-height: 1.5;
				text-transform: uppercase;
				color: darken( $color-sec, 50%);
				font-family: $font-sans-narrow;
				font-weight: 700;
				padding: 5px 10px;
				vertical-align:middle;
				text-decoration: none;

				img {
					float: left;
					margin-right: 5px;
					vertical-align: middle;
				}

				i {
					width: 25px;
					height: 25px;
					font-size: 25px;
				}

				span {
					line-height: 25px;
				}
			}

			span.icon {
				width: 35px;
				text-align:center;
				display: table-cell;
				vertical-align:middle;
				padding-left: 8px;
			}

			i.dashicons {
				line-height: 28px;
    			font-size: 1.2em;
			}
		}
		li.text-thin a {
			font-weight: 400;
		    font-size: 1.2em;
		    display: block;
		    padding-left: 15px;
		    width: 100%;
		    text-transform: lowercase;
		}
		.webshop-cat-items {

			li.cat-item{
				border-bottom: 1px solid #DCDCDC;

				a {
					font-weight: 400;
					font-size: 1.2em;
					display: block;
					padding-left: 15px;
					width: 100%;

					text-transform: lowercase;
				}
			}
		}

		li.menu-item.has-icon.two-row:not(.text-thin) {
			span.ic {
				display: table-cell;
				vertical-align: middle;
			}
			span.text {
				display: table-cell;
				vertical-align: middle;
				line-height: 1;
				padding-left: 8px;
			}
		}
	}
}

nav{
	margin: 15px 0;
	padding: 0 10px;
	background: #000;
	@include border-radius(15px);

	ul{
		margin:0;
		padding:0;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
    align-items: stretch;

		li{
			a{
				text-decoration: none !important;
				text-transform: uppercase;
				font-size: 1.05em;
				color: darken(white, 40%) !important;
				display:block;
				padding: 20px 15px;
				border-bottom: 2px solid transparent;
			}
			&.active{
				a{
					color: $color-gold;
					border-bottom: 2px solid $color-gold;
				}
			}

			a:hover {
				color: $color-gold !important;
				border-bottom: 2px solid $color-gold;
			}
		}
	}
}
