header {
	color: white;
	font-weight: 400;

	.topper{
		padding: 10px 0 40px 0;
	}

	a, a:visited {
		color: white;
	}

	.logo {
		width: 100%;
		max-width: 100%;
		img {
			width: 100%;
			max-width: 100%;
		}

		position: relative;;
	}

	.main-elements{
		.header-top-center{
			padding-left: 25px;
			.top-contact{
				margin-bottom: 25px;
				.contacts,
				.opens-data{
					display: inline-block;
					*display: inline;
					zoom: 1;
					vertical-align: bottom;
					margin: 0 -2px;
					border:none;
				}

				.contacts {
					width: 65%;
					padding-right: 25px;
					font-size: 0.95em;
					line-height: 20px;

					.line {
						margin-top: 15px;
						.ico {
							width: 25px;
							font-size: 20px;
							float: left;
							margin-right: 10px;
						}
					}
				}
				.opens-data {
					width: 35%;
				}
			}
		}
	}
}

.short-menu {
	li {
		display: -moz-inline-stack;
		display: inline-block;
		*display: inline;
		zoom: 1;
		line-height: 36px;
		margin-left: 10px;

		a {
			padding: 0 5px;
	    font-size: 0.75em;
			display: block;
			color: black;
			line-height: 1;
			text-decoration: none;
		}

		&.reg {
			a{

			}
		}
		&.login {
			a{
				padding: 10px 20px;
				color: white;
				background: $color-pr;
				@include border-radius(5px);
			}
		}
	}
}

.searchform {
	input[type=text] {
		background: #fff;
		border: 5px solid #3e3e3e;
		border-right: none;
		width: 85%;
		color: $color-pr;
	}

	input[type=text],
	button {
		line-height: 40px;
		padding: 0 14px;
	}

	button {
		background: $color-pr;
		color: white;
		border: 5px solid #3e3e3e;
		border-left: none;
		padding: 0 12px;
		line-height: 40px;
		font-size: 24px;
		vertical-align: middle;
		cursor: pointer;
	}
}

.general-sidebar {
	width: 20%;
	float: left;
	display: table-cell;
	vertical-align: top;

	.cat-menu{
		li {
			&.title {
				color: darken(white, 40%);
				padding: 10px;
				font-size: 0.8em;
			}

			&.cat {
				a{
					position: relative;
					display: block;
					padding: 8px 10px;
					font-size: 1.3em;
					text-transform: uppercase;
					text-decoration: none;
					color: saturate($color-pr, 10);
				}
			}

			&:hover, &.active {
				a{
					background: saturate($color-pr, 10);
					color: white;

					&:after {
						content: "";
						position: absolute;
						border-style: solid;
						border-width: 18px;
						right: -36px;
						top: 0;
						border-color: transparent transparent transparent $color-pr;
					}
				}
			}
		}
	}

}

nav{
	margin: 15px 0;
	padding: 0 10px;
	background: #000;
	@include border-radius(15px);

	ul{
		margin:0;
		padding:0;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
    align-items: stretch;

		li{
			a{
				font-family: 'Oswald', sans-serif;
				text-decoration: none !important;
				text-transform: uppercase;
				font-size: 0.9em;
				color: darken(white, 40%) !important;
				display:block;
				padding: 15px 10px;
				border-bottom: 2px solid transparent;
			}
			&.active{
				a{
					color: $color-gold;
					border-bottom: 2px solid $color-gold;
				}
			}

			a:hover {
				color: $color-gold !important;
				border-bottom: 2px solid $color-gold;
			}
		}
	}
}
