header {
	color: white;
	font-weight: 400;

	.topper{
		padding: 10px 0 40px 0;
	}

	a, a:visited {
		color: white;
	}

	.logo {
		width: 100%;
		max-width: 100%;
		img {
			width: 100%;
			max-width: 100%;
		}

		position: relative;;
	}

	.main-elements{
		.header-top-center{
			padding-left: 25px;
			.top-contact{
				margin-bottom: 25px;
				.contacts,
				.opens-data{
					display: inline-block;
					*display: inline;
					zoom: 1;
					vertical-align: bottom;
					margin: 0 -2px;
					border:none;
				}

				.contacts {
					width: 55%;
					padding-right: 20px;
					font-size: 0.8em;
					font-weight: bold;
					line-height: 25px;

					.line {
						margin-top: 10px;
						.ico {
							width: 22px;
							font-size: 18px;
							float: left;
							text-align: center;
							margin-right: 8px;
						}
						&.phone {
							font-size: 1.4em;
						}
					}
				}
				.opens-data {
					font-size: 0.7em;
					width: 45%;
					line-height: 18px;

					.title{
						font-size: 0.9em;
				    margin-bottom: 4px;
				    color: #676767;
					}
				}
			}
		}
	}
}

.short-menu {
	li {
		display: -moz-inline-stack;
		display: inline-block;
		*display: inline;
		zoom: 1;
		line-height: 36px;
		margin-left: 10px;

		a {
			padding: 0 5px;
	    font-size: 0.75em;
			display: block;
			color: black;
			line-height: 1;
			text-decoration: none;
		}

		&.reg {
			a{

			}
		}
		&.login {
			a{
				padding: 10px 20px 10px 15px;
				color: white;
				background: $color-pr;
				@include border-radius(5px);

				i {
					margin-right: 5px;
				}
			}
		}
		&.logout {
			a{
				color: #dc5555;
			}
		}
	}
}

.searchform {
	input[type=text] {
		background: #fff;
		border: 5px solid #3e3e3e;
		border-right: none;
		width: 85%;
		color: $color-pr;
	}

	input[type=text],
	button {
		line-height: 40px;
		padding: 0 14px;
	}

	button {
		background: $color-pr;
		color: white;
		border: 5px solid #3e3e3e;
		border-left: none;
		padding: 0 12px;
		line-height: 40px;
		font-size: 24px;
		vertical-align: middle;
		cursor: pointer;
	}
}

.general-sidebar {
	width: 20%;
	float: left;
	display: table-cell;
	vertical-align: top;

	.cat-menu{
		li {
			padding: 2px 0;
			&.title {
				color: darken(white, 40%);
				padding: 10px;
				font-size: 0.8em;
			}

			&.cat {
				a{
					position: relative;
					display: block;
					padding: 8px 10px;
					font-size: 1.25em;
					letter-spacing: -2px;
					text-transform: uppercase;
					text-decoration: none;
					color: saturate($color-pr, 10);
				}

				&.lvl-1{
					a{
						text-transform: none;
						font-size: 0.9em;
						padding-left: 25px;
					}
				}
			}

			&.lvl-0:hover,
			&.lvl-0.active {
				a{
					background: saturate($color-pr, 10);
					color: white;

					&:after {
						content: "";
						position: absolute;
						border-style: solid;
						border-width: 18px;
						right: -36px;
						top: 0;
						border-color: transparent transparent transparent saturate($color-pr, 10);
					}
				}
			}

			&.lvl-1{
				display:none;

				a{
					color: #a9285d !important;
				}

				&.current a{
					font-weight: bold;
					color: $color-pr !important;
				}
			}

			&.active{
				display: block;
			}
		}
	}

}

nav{
	margin: 15px 0;
	padding: 0 10px;
	background: #000;
	@include border-radius(15px);
	border: 2px solid #1f1f1f;
	-webkit-box-shadow: 0 5px 20px -5px #000;
	-moz-box-shadow: 0 5px 20px -5px #000;
	box-shadow: 0 5px 20px -5px #000;

	ul{
		margin:0;
		padding:0;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
    align-items: stretch;

		li{
			a{
				font-family: 'Oswald', sans-serif;
				text-decoration: none !important;
				text-transform: uppercase;
				font-size: 0.9em;
				color: darken(white, 40%) !important;
				display:block;
				padding: 15px 10px;
				border-bottom: 2px solid transparent;
			}
			&.active{
				a{
					color: $color-gold;
					border-bottom: 2px solid $color-gold;
				}
			}

			a:hover {
				color: $color-gold !important;
				border-bottom: 2px solid $color-gold;
			}
		}
	}
}
