/* 1024 - 1050 px - MEDIUM */
@media all and (max-width: 1050px)
{
	.website, .pw, .page-width,
	{
		width: 100%;
	}

	.slideShow {
		width: 817px;
	}

	.share-box, .cart-float {
		position:relative;
		right: auto;
		left: auto;
		top: auto;
		bottom: auto;
		display: none;
	}

	.mobile-sharer .share-box {
		display: table;
		 table-layout:fixed;
		width: 100%;
	}

	.mobile-sharer .share-box > div {
		display: table-cell;
		text-align: center;
	}

	.mobile-sharer .share-box > div a {
		display: block !important;
		text-align: center !important;
		color: white !important;
		padding: 8px !important;
	}

	.general-sidebar .menu li.menu-item a {
		font-size: 1em;
	}
	.menu-widget .head {
		font-size: 0.9em;
	}
	.menu-widget .slides {
		max-width: 203px;
	}
}
/* 0 - 1023 px - SMARTPHONE */
@media all and (max-width: 1023px)
{
	.fb-page {
		display: none !important;
	}

	.products .items, .related-products .items{
		margin: 0 15px;
	}

	footer .footer-opens {
	  margin-top: 25px;
	}

	footer .menu li{
		display: block;
		border-right: none;

		a {
			color: white;
		}
	}

	footer .cont-info .address{
		font-size: 1.3em;
	}

	footer .cont-info .phone {
    color: #eaeaea;
    font-size: 2.2em;
    margin-top: 5px;
	}

	footer .footer-opens .opens-table div{
		text-align: center;
		color: #999999;
    font-size: 1em;
	}

	footer .footer-opens .day{
		margin-top:10px;
	}

	footer .footer-opens .op{
		font-weight: bold;
    color: #ffffff !important;
    font-size: 1.3em !important;
    line-height: 1 !important;
	}

	a.fb-link {
		background: #3a5795;
		border: 2px solid lighten(#3a5795, 5%);
		padding: 8px;
		font-size: 1.4em;
		margin: 5px 0;
		color: white;
		display: block;
		width: 100%;
	}

	.site-container{
		padding: 0;
	}
	.site-container{
		padding: 0;
	}
	.history-view-list .items {
		padding: 0 25px;
	}

	.history-view-list .items .item-wrapper .info{
		padding-left: 25px;
	}

	.history-view-list .items .item-wrapper .info .title a {
		font-size: 1.4em;
	}

	.history-view-list .items .item-wrapper .info{
		font-size: 1.5;
	}

	.history-view-list .items .item-wrapper .info .action .price {
    font-size: 1.55em;
	}

	.website {
		margin: 0;
		margin-top: 67px;
	}

	header {
		position: fixed;
		top: 0;
		width: 100%;
		display: block;
		z-index: 1111;
		font-size: 1.4em;
		border-bottom: 1px solid #82123f;
	}

	footer{
		margin-top: 0;
	}

	.slideShow {
		display: none !important;
	}

	.general-sidebar {
		height: 100%;
    position: fixed;
    width: 90%;
    z-index: 111;
    float: none;
    display: none;
    background: rgba(12, 11, 11, 0.965);
    border-right: 1px solid #272727;
    padding-bottom: 25px;
    -webkit-box-shadow: 0 5px 25px 5px #000;
		-moz-box-shadow: 0 5px 25px 5px #000;
		box-shadow: 0 5px 25px 5px #000;
	}
	.general-sidebar.opened {
		display:block;
		overflow-x: auto;
		padding-bottom: 60px;
	}
	#systemmsg{
		padding: 0;
		.wrapper{
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			min-height: 60px;
		}
	}
	.general-sidebar .menu {
		width: 70%;
		overflow:auto;
		height: 100%;
	}
	.general-sidebar .menu li.menu-item a {
		font-size: 1.5em;
	}

	.site-container {
		width: 100%;
		float: none;
		display: block;
	}

	.grid-layout:not(.kpm),
	.grid-layout:not(.kpm) .grid-row {
		width: 100% !important;
		display: block;
	}

	.product-view,
	.account {
		.grid-layout:not(.kpm) *[class^=grid-row],
		.grid-layout:not(.kpm),
		.grid-layout:not(.grid-np):not(.kpm) > .grid-row:first-child,
		.grid-layout:not(.grid-np):not(.kpm) > .grid-row:last-child {
			padding: 0 !important;
		}
	}

	.flatInfoBox > div {
		font-size: 0.9em;
	}

	.grid-layout .grid-row:after {
		content:"";
		position: relative;
		height: 1px;
		width:100%;
		clear:both;
	}

	.referring-view{
		.kimelt-link {
			display: none;
		}

		.partner-referer-orders h2{
			line-height: 1;
			margin: 10px 0;
		}
	}

	.account {
		h1 {
			margin: 20px 0 25px 0;
		}
	}

	.order {
		.serial {
			float: none;
			width: 100%;
		}

		h1 {
			margin: 10px 0;
		}
	}

	.page .page-view {
		padding: 5px 10px 10px 10px !important;
	}

	header .logo {
	    position: relative;
	    float: left;
	    height: 60px;
	    width: 60px;
			overflow: hidden;
			text-align: center;

			img{
				width: auto;
				max-width: initial;
				height: 48px;
				max-height: 48px;
				margin-top: 6px;
			}
	}

	.cartItems .cart-head {
		padding: 15px;
	}

	.inside-content {
	  min-height: 350px;
	}

	.mobile-header {
		line-height: 3;
		background: $color-pr;

		.cart, .place-search, .acv, .ct {
			float: right;

			a {
				display: block;
				padding: 0 15px;
				color: #FF99B5;
			}
		}
		.menu-switcher {
			float: left;
			padding: 0 25px;
			font-size: 28px;
    	line-height: 60px;
			width: 75px;
			text-align: center;
		}
		.menu-switcher:active{
			background: darken($color-pr, 10%);
		}

		.menu-switcher.active {
			background: #111111;

			i{
				color: #b74242;
			}
		}

		.cart {
			a {
				text-decoration: none;
				color: white;
			}
			.cart-item-num-v {
			    background: #fff;
			    color: $color-pr;
			    font-weight: bold;
			    font-size: 0.65em;
			    border-radius: 20px;
			    padding: 0 6px;
			}
		}
	}

	.product-view .main-view{
		display: block;
		.images, .data-view {
			width: 100%;
			display: block;
		}
		.images .all {
			margin: 0 auto;
			width: 375px;
		}

		.free-transport {
			margin: 10px 0;
		}

		.links {
			padding: 0 15px;
		}
		.data-view {
			padding: 0 15px;
			.action-bar a {
				font-size: 1.2em;
			}
		}
		.prices {
			.base {
				float: left;
			}
			.partner-price {
				float: right;
			}
		}

		.status {
			font-size: 1.5em;
		}

		#cart-msg {
			font-size: 1.4em;
		}
	}
	.product-view {
		.buy-basic-info {
			margin-top: 15px;
		}
	}

	.dropdown-list-container .dropdown-list-selecting.showed {
		z-index: 10;
	}
	.dropdown-list-title {
		font-size: 1.8em;
	}
	.dropdown-list-container .dropdown-list-selecting > div{
		font-size: 1.8em;
		padding: 10px 0;
	}
	.dropdown-list-container .dropdown-list-selecting{
		top: 48px;
	}

	.category-listing{
		.category-title .filters {
			display: block;
			width: 100%;
			margin-bottom: 15px;
		}

		h1 {
			display: block;
			margin: 15px;
		}
	}

	.product-ajanlott .items .item,
	.related-products .items .item {
		width: 100%;
		display: block;
	}

	.webshop-product-top .items .item{
		margin: 0;
		.image, .details, .buttons {
			float: none;
			width: 100%;
			display: block;
		}

		.buttons .holder {
			.watch, .order {
				float: left;
				width: 50%;
				height: auto !important;

				a {
					padding: 25px 5px;
				}
			}
		}

		.price {
			font-size: 0.90em;
		}

		.extra-info{
			width: 100%;
			margin: 0;
			.each {
				line-height: 1;
				padding: 5px;
				font-size: 0.65em;
			}
		}
	}
	.nextOrded .steps {
		padding: 10px;
	}

	.divCol,
	.nextOrded .col2  {
		height: auto !important;
		border: none !important;
	}
	.order-contact-info * {
		text-align: left !important;
		line-height: 1.2;
	}

	.nextOrded .col1,
	.nextOrded .col2 {
		padding: 0 !important;
	}

	.nextOrded .allStepView ul li {
		float: none;
		width: 100%;
	}
	.nextOrded .allStepView ul li.active:after {
		display: none;
	}
	.nextOrded .allStepView ul li.done:after{
		left: auto;
		top: 50%;
	}

	.shop-search-view {
		 .near-of-me{
		 	text-align: center;

		 	.place-details {
		 		.name {
		 			margin: 8px 0;
			 		line-height: 1;
			 	}
		 	}

		 	.infos {
		 		text-align: center;
		 		border-top: 1px solid lighten($color-pr, 20%);
		 		padding-top: 5px;
		 		margin-top: 5px;
		 	}
		 }

		 .shop-list {
		 	.logo {
		 		text-align: center;
		 	}

		 	.shop {
		 		border-bottom: 5px solid $color-sec;

		 		.infos {
			 		text-align: center;
			 		border-top: 1px solid lighten($color-sec, 10%);
			 		padding: 10px 0;
			 		margin: 15px 15px 5px 15px;
			 	}
		 	}
		 	.shop:last-child {
		 		border-bottom: none;
		 	}
		 }
	}

	.shop-cat .cat {
		width: 50%;
	    display: block;
	    float: left;
	}

	footer .menu li a {
		font-size: 1.15em;
		line-height: 1.55;
	}

	.product-view .main-view .images .all .slick-next{
		right: -40px;
	}

	.product-view .main-view .images .all .slick-prev{
		left: -40px;
	}

	.product-view .data-view h1{
		text-align: center;
		line-height: 1;
		margin: 10px 0;
	}
	.product-view .data-view .cat{
		text-align: center;
	}

	.product-view .data-view .add-to-card .item-count{
		margin: 10px 0 !important;
		border-radius: 30px !important;
		text-align: center;
		font-size: 0.8em;
	}
	.product-view .data-view .add-to-card button{
		font-size: 1.5em;
	}
	.product-view .data-view .add-to-card .item-count .dropdown-list-selecting {
    left: 0;
    right: 0;
    top: 55px;
    margin: 0 auto;
    width: 88%;
	}

	.product-view .data-view .add-to-card .item-count .dropdown-list-selecting > div{
		font-size: 1.2em;
	}

	.grid-row{
		position: relative;
	}

	.product-view .data-view .prices .old .discount_percent{
		position: absolute;
		top: 0;
		right: 0;
		float: none;
	}

	.product-view .data-view .color-variants{
		margin: 0 -3px 10px -3px;
	}
	.product-view .data-view .color-variants .clabel{
		text-align: center;
	}

	.grid-layout.grid-layout-mobile-paddingoff:not(.grid-np) > .grid-row:first-child,
	.grid-layout.grid-layout-mobile-paddingoff:not(.grid-np) > .grid-row:last-child{
		padding: 0 !important;
	}

	.product-view .data-view .prices .current{
		font-size: 1.76em;
	}

	.product-view .data-view .prices .price-head{
		margin-bottom: 10px;
	}

	.product-view .data-view .size-selector .dropdown-list-title{
		text-align: center;
	}

	.product-view .data-view .current-variation strong{
		font-size: 0.9em;
		color: white;
	}

	.nextOrded .step0 .col2{
		width: 100%;
	}
	.nextOrded .step0 .col2 .col2In .cartInfo{
		padding-top: 25px;
	}
	.nextOrded h2{
		text-align: center;
	}
	.logIn a.btn {
    width: 50%;
    margin: 0 -6px;
    height: 35px;
    line-height: 35px;
    padding: 0;
	}
	.general-sidebar .cat-menu li.lvl-0:hover a:after, .general-sidebar .cat-menu li.lvl-0.active a:after{
		display: none;
	}
	.category-listing h1{
		text-align: center;
	}
	.category-listing .category-title .filters{
		text-align: center;
	}
	.mobile-padding-hor{
		padding: 0 15px 25px 15px !important;
	}

	.product-view .links ul li{
		width: 50%;
		margin: 0;
		padding: 5px;
	}

	.product-view .keywords li{
		margin: 5px;
	}
	.product-view .info .parameters{
		font-size: 1.1em;
	}
	.product-view .info .parameters > div .param-var{
		margin: 8px 0;
		font-size: 1.2em;
	}

	.product-view .links ul li a{
		text-align: center;
	}

	.hide-on-mobile {
		display:none !important;
	}
	.show-on-mobile {
	  display: block !important;
	}
}

/* 0 - 970 px - SMARTPHONE */
@media all and (max-width: 970px)
{
	body, html{
		background-image: url('#{$imgroot}src/images/bgtexture.png');
		background-repeat: repeat;
		background-position: top;
	}
}

/* 0 - 640 px - SMARTPHONE */
@media all and (max-width: 640px)
{
	.products .items .item, .related-products .items .item{
		flex-basis: 100%;
		margin-bottom: 25px;
	}
	.products .items .item .item-wrapper .info-row-bottom .cart button, .related-products .items .item .item-wrapper .info-row-bottom .cart button{
		font-size: 1.1em;
	}
	.webshop-product-top .items .item .price{
		font-size: 1.1em;
	}
	.products .items .item .item-wrapper .title a, .related-products .items .item .item-wrapper .title a{
		font-size: 1.6em;
	}
	.products .items .item .item-wrapper .def_cat, .related-products .items .item .item-wrapper .def_cat{
		font-size: 1.2em;
	}
	.general-sidebar .cat-menu li.cat a{
		font-size: 1.8em;
	}
	.general-sidebar .cat-menu li.lvl-0:hover a:after, .general-sidebar .cat-menu li.lvl-0.active a:after{
		border-width: 20px;
		right: -40px;
	}
	.general-sidebar .cat-menu li.menu-li a{
		display: block;
		padding: 15px;
		background: #111;
		color: #fff;
		font-size: 1.2em;
		font-weight: bold;

		&:hover {
			text-decoration: none;
			background: #242424;
			color:$color-pr;
		}
	}
}



/* 0 - 375 px - SMARTPHONE */
@media all and (max-width: 398px)
{
	.product-view .product-desc {
	  width: 100% !important;

	  img {
	  	width: 90%;
	  	height: auto;
	  }
	}
}

/* 0 - 375 px - SMARTPHONE */
@media all and (max-width: 375px)
{
	body {
		font-size: 0.9em;
	}

	.floating-box.contact-msg .labtext {
		left: -85px;
	}

	.product-view .main-view .images .all {
		width: 300px;
	}

	.switcherView .inset {
		iframe {
			width: 100% !important;
		}
	}
	.viewSwitcher > div {
		width: 100%;
	}
	.website {
		margin-top: 61px;
	}

	.kollega-list {

		ul {
			li {
				width: 50%;
			}
			li + .clr {
				display: none;
			}
		}
	}
}
